.post {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    margin: 2vh 0;
    padding: 2vh 0;
}

.content {
    width: 45%;
    overflow: auto;

    position: sticky;
    top: 150px;

    padding: 20px;

    border: 1px solid #325a11;
    border-radius: 16px;

}
